<div class="row small-4 medium-4 large-up-4">
<div class="small-6 column"></div>
<div class="small-6 column"></div>
<!-- <div class="small-6 column">
	<label>CheckFor Date
          <input id="startdt" name="startdt" type="date" ng-model="params.startdt" required>
     </label> 
</div>
	<div class="small-6 column">
          <button data-ng-click="getavail(params)" type="button" class="success button">Submit</button>
	</div>
 -->	
</div>
<div class="row small-4 medium-4 large-up-4">
<div class="small-offset-2 small-8 column">
<table>
  <thead>
    <tr>
      <th width="200">First Name</th>
      <th width="200">Last Name</th>
      <th width="200">Project Name</th>
      <th width="200">Available From</th>  
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="event in projdata|orderBy:sortKey:reverse|filter:search|itemsPerPage: 5">
      <td>{{event.fname}}</td>
      <td>{{event.lname}}</td>
      <td>{{event.projname}}</td>
      <td>{{event.availablefrom}}</td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
</dir-pagination-controls>
</div>
</div>
<div class="small-4 column">
</div>
<div class="row small-4 medium-4 large-up-4">
	<div class="small-6 column"></div>
	<div class="small-6 column"></div>
</div>