.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    /*border: 10px solid #fff;*/
    /*
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
    width: 655px;
    height: 100px;
     
     
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999; */
}
.shelf {
    /* margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
     
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
    /*  width: 650px;
    height: 100px; */ 
     background-image: url('Shelf-edited-1.png');
    /* background-image: url('shelf2.PNG'); */
   /*  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999; */
}

/** Devops Carousel **/

.Opsjcarousel {
    position: relative;
    overflow: hidden;
}

.Opsjcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Opsjcarousel li {
    float: left;
    width: 160px;
    height: 200px;
    margin-right: 5px;
}

.Opsjcarousel img {
    max-height: 200px;
}

.Opsjcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Value Adds Carousel **/

.valaddsjcarousel {
    position: relative;
    overflow: hidden;
}

.valaddsjcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.valaddsjcarousel li {
    float: left;
    width: 160px;
    height: 200px;
    margin-right: 5px;
}

.valaddsjcarousel img {
    max-height: 200px;
}

.valaddsjcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** POC Carousel **/

.pocjcarousel {
    position: relative;
    overflow: hidden;
}

.pocjcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pocjcarousel li {
    float: left;
    width: 160px;
    height: 200px;
    margin-right: 5px;
}

.pocjcarousel img {
    max-height: 200px;
}

.pocjcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 35px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
